* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/7e6df78f-d342-4705-beb2-b6eb585048a8.jpeg') no-repeat center center/cover;
    z-index: -1;
}

.content {
    z-index: 1;
}

.title {
    font-size: 4em;
    font-family: 'Comic Sans', sans-serif;
}

.subtitle {
    font-size: 1.5em;
    margin-top: 10px;
}
